@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*basic styles*/
:root {
  --border-padding: 10px;
  --darkest: rgb(0, 0, 5);
  --darkest-blue: rgb(0, 0, 60);
  --main-blue: rgb(33, 33, 143);
  --light-purple: rgb(188, 134, 255);
  --dark-purple: rgb(156, 81, 248);
  --white: #ebebeb;
}

html,
body {
  font-family: "Outfit", Helvetica, sans-serif;
  background-color: var(--darkest);
}

#container {
  width: 65%;
  height: 100vh;
  max-width: 995px;
  background-image: url("/assets/imgs/bg.jpg");
  background-size: cover;
  margin: 0 auto;
  padding: 50px 80px;
  color: var(--white);
}
#logo {
  width: 150px;
}

#logo img {
  width: 100%;
}
/*pg 1*/
.welcome {
  font-size: 60px;
}
/*fine pg 1*/

/*pg 2*/

/*fine pg 2*/

/*pg 3*/

/*fine pg 3*/

/*pg 4*/

/*fine pg 4*/
/* support class*/
.bold {
  font-weight: 700;
}